.Kimera-Header-Logo {
    width: 230px;
    height: 67px;
    flex-grow: 0;
    margin: 0 876px 0 0;
    object-fit: contain;
    font-family: HelveticaNeue;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff0000;
}
.Title-Text {
    width: 798px;
    height: 102px;
    margin: 68px 288px 59px 354px;
    object-fit: contain;
    font-family: HelveticaNeue;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
