 /*navigation bar  */
.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: red;
    font-style: italic;
    font-size: 200%;
    line-height: 60px;
    font-weight: normal;
    text-decoration: none;
}

/* .navbar-custom .nav-item.active, .navbar-light .navbar-nav .nav-link:focus {
    text-decoration: underline;
    font-size: 22.5px;
    color: red !important;
} */

.active {
    font-size: 22.5px;
    color: red !important;
    padding-bottom: 0.5px;
    border-bottom: 2px solid red;
}

.visited {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    padding-bottom: 0.5px;
    border-bottom: 2px solid black;
    color: black !important;
}

a {
    color: black;
}

.thankslink {
    text-decoration: underline;
}

a:hover {
    color: red;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 22.5px;
    align-items: center;
}
h2 .bold{
    font-weight: bold;
}

/*sign up buttons*/

.typeform-share {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    cursor: pointer;
    line-height: 57.5px;
    text-align: center;
    margin: 0;
    margin-right: 60%;
    height: 55px;
    padding: 0px;
    border-radius: 10px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.03em;
    font-size: 17.5px;
}

.typeform-share:hover, .typeform-share:focus {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.9);
}

.icon {
    height: 65px;
    width: auto;
}

#fanimage {
    width: 80%;
    height: auto;
    padding: 20px;
    padding-bottom: 40px;
}

#creatorimage {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.col-lg {
    text-align: center;
    line-height: 125%;
    align-items: center;
    /* margin: 30px;
    padding: 10px;*/
}
.navbar .navbar-expand-sm .navbar-light {
    padding: 5%
}

.tint {
    background-color: rgba(255, 0, 0, 0.1);
}

.thankscreator {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 10%;
    padding-right: 10%;
}
.thanksfan {
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 10%;
    padding-right: 10%;
}

.left{
    text-align:left;
}
.centered{
    padding-top:10%;
    padding-left:20%;
}

html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    overflow-x: hidden;
}

.emailenter {
    width: 60%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(255, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    align-items:center;
    padding-right: 50px;
}

.emailsubmit {
    width: 23%;
    height: 100%;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    margin-left: -50px;
}
.emailsubmit:focus {
    outline: none;
}
.emailenter:focus {
    outline: none;
    margin-right: 0;
}

/*header styling*/
h1 {
    font-weight: bold;
    font-size: 160%;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 35px;
}

h3 {
    font-weight: 200;
    font-size: 27px;
    text-align: center;
    width:90%;
    margin-left: 5%;
}

h5 {
font-weight: 300;
font-size: 18px;
text-align: center;
width: 75%;
}

h6 {
    font-size: 16px;
    align-items: center;
    margin-left: 25px;
}


/*steps*/

.stepsgreet {
    padding-top: 55px;
    padding-bottom: 78px;
}
.steps {
    padding-bottom: 79px;
}

.discover{
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
}
.startsign{
    display:block;
    text-align: center;
    height: 35%;
}

.foot{
    padding-top: 39px;
    padding-bottom: 72px;
    padding-left: 76px;
}

hr {
    border-width: 1px; 
    border-color: black; 
    width: 30%; 
    float: left; 
    margin:auto;
}


 